@import '~bootstrap/scss/bootstrap';

header {
  background-color: rgba(287,145,49,1);
  padding: 50px;
  text-align: center;
}

#sign-in {
  margin: 50px;
  padding: 50px;
}

.success {
  color: green;
  font-size: 50px;
}
