@import '~bootstrap/scss/bootstrap';

header {
  background-color: rgba(287,145,49,1);
  padding: 50px;
  text-align: center;
  border: 1px solid black;
}

.success {
  color: green;
  font-size: 50px;
}

#sign-in {
  padding: 100px;
}

#changepasswordbtn {
  margin: 10px 0;
}

.soauth {
  margin-bottom: 50px;
}

#show-trip {
  padding: 10px;
  margin: 10px;
}

.index-dynamic-button {
  margin: 10px;
  padding: 5px;
}
.carousel-caption {
  background-color: rgba(255, 255, 255, .25);
  border-radius: 20px;
}
.showText {
  color: black;
  font-family: 'Pacifico', cursive;
}
